In [191]:
import pandas as pd 
import numpy as np

In [192]:
customer_names = pd.read_csv("./data/northwind-mongo-master/customers.csv",usecols=['CustomerID','CompanyName'])
customer_cities = pd.read_csv("./data/northwind-mongo-master/customers.csv",usecols=['CustomerID','City','Country'])

In [193]:
customer_cities.head()

  CustomerID          City  Country
0      ALFKI        Berlin  Germany
1      ANATR  M?©xico D.F.   Mexico
2      ANTON  M?©xico D.F.   Mexico
3      AROUT        London       UK
4      BERGS        Lule??   Sweden

In [194]:
customer_names.head()

  CustomerID                         CompanyName
0      ALFKI                 Alfreds Futterkiste
1      ANATR  Ana Trujillo Emparedados y helados
2      ANTON            Antonio Moreno Taquer?­a
3      AROUT                     Around the Horn
4      BERGS                 Berglunds snabbk?¶p

In [195]:
len(customer_cities)

91

In [196]:
len(customer_names)

91

In [197]:
customer_names = customer_names.set_index("CustomerID")

In [198]:
customer_cities = customer_cities.set_index("CustomerID")

In [199]:
customer_cities.join(other=customer_names).head()

                    City  Country                         CompanyName
CustomerID
ALFKI             Berlin  Germany                 Alfreds Futterkiste
ANATR       M?©xico D.F.   Mexico  Ana Trujillo Emparedados y helados
ANTON       M?©xico D.F.   Mexico            Antonio Moreno Taquer?­a
AROUT             London       UK                     Around the Horn
BERGS             Lule??   Sweden                 Berglunds snabbk?¶p

In [200]:
len(customer_cities.join(other=customer_names))

91

In [201]:
customer_names.reset_index(inplace=True)

In [202]:
customer_names.head()

  CustomerID                         CompanyName
0      ALFKI                 Alfreds Futterkiste
1      ANATR  Ana Trujillo Emparedados y helados
2      ANTON            Antonio Moreno Taquer?­a
3      AROUT                     Around the Horn
4      BERGS                 Berglunds snabbk?¶p

In [203]:
customer_cities.join(other=customer_names,on='CustomerID')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat