In [24]:
import pandas as pd 
import numpy as np
from datetime import datetime 
from datetime import timedelta 
import time

In [46]:
df = pd.read_csv('./data/marathon_results_2016.csv', index_col='Bib', usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])

In [47]:
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df = df.pivot_table(index="Age",columns="M/F",values="TotalSeconds")

In [48]:
df.head()

M/F             F             M
Age
18   16050.666667  14554.615385
19   15351.958333  12156.529412
20   13835.931818  12111.100000
21   14681.027027  12408.360465
22   14366.421053  11872.666667

In [49]:
df.reset_index(inplace=True)

In [50]:
df.head()

M/F  Age             F             M
0     18  16050.666667  14554.615385
1     19  15351.958333  12156.529412
2     20  13835.931818  12111.100000
3     21  14681.027027  12408.360465
4     22  14366.421053  11872.666667

In [51]:
df = df.melt(id_vars='Age',value_name="TotalSeconds",var_name="Sex")

In [52]:
df.head()

   Age Sex  TotalSeconds
0   18   F  16050.666667
1   19   F  15351.958333
2   20   F  13835.931818
3   21   F  14681.027027
4   22   F  14366.421053