In [23]:
import pandas as pd
import numpy as np

In [24]:
suppliers = pd.read_csv("./data/northwind-mongo-master/suppliers _del_1.csv",usecols=["SupplierID","CompanyName", "City"])

In [25]:
suppliers.head()

   SupplierID                         CompanyName         City
0           1                      Exotic Liquids       London
1           2          New Orleans Cajun Delights  New Orleans
2           3           Grandma Kelly's Homestead    Ann Arbor
3           4                       Tokyo Traders        Tokyo
4           5  Cooperativa de Quesos 'Las Cabras'       Oviedo

In [26]:
products = pd.read_csv("./data/northwind-mongo-master/products_del_1.csv",usecols=["ProductID","ProductName", "SupplierID"])

In [27]:
products.head()

   ProductID                   ProductName  SupplierID
0          1                          Chai           1
1          2                         Chang           1
2          3                 Aniseed Syrup           1
3          4  Chef Anton's Cajun Seasoning           2
4          5        Chef Anton's Gumbo Mix           2

In [28]:
prod_and_sup = products.merge(suppliers)

In [29]:
prod_and_sup.head()

,ProductID,ProductName,SupplierID,CompanyName,City
0,1,Chai,1,Exotic Liquids,London
1,2,Chang,1,Exotic Liquids,London
2,3,Aniseed Syrup,1,Exotic Liquids,London
3,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans
4,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans

In [30]:
len(prod_and_sup)

70

In [31]:
len(suppliers)

27

In [32]:
len(products)

75

In [33]:
prod_and_sup_outer = products.merge(suppliers,how="outer",indicator=True,on='SupplierID')

In [34]:
prod_and_sup_outer.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both

In [35]:
filter_right_only=prod_and_sup_outer["_merge"] =="right_only"
prod_and_sup_outer[filter_right_only]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only

In [36]:
filter_left_only=prod_and_sup_outer["_merge"] =="left_only"
prod_and_sup_outer[filter_left_only]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [37]:
suppliers = pd.read_csv("./data/northwind-mongo-master//suppliers.csv",usecols=["SupplierID","CompanyName", "City"])

In [38]:
sup_prod = suppliers.merge(products,on="SupplierID",indicator=True)

In [39]:
sup_prod.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,1,Exotic Liquids,London,3,Aniseed Syrup,both
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,both
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,both

In [40]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
75
75

In [41]:
sup_prod_left = suppliers.merge(products,how="left",on='SupplierID',indicator=True)

In [42]:
print(len(suppliers))
print(len(products))
print(len(sup_prod))

29
75
75

In [47]:
sup_prod_left[sup_prod_left["_merge"] == "left only"]

Empty DataFrame
Columns: [SupplierID, CompanyName, City, ProductID, ProductName, _merge]
Index: []

In [49]:
suppliers.set_index("SupplierID",inplace=True)

In [50]:
suppliers.head()

                                   CompanyName         City
SupplierID
1                               Exotic Liquids       London
2                   New Orleans Cajun Delights  New Orleans
3                    Grandma Kelly's Homestead    Ann Arbor
4                                Tokyo Traders        Tokyo
5           Cooperativa de Quesos 'Las Cabras'       Oviedo

In [57]:
sup_prod = suppliers.merge(products,on="SupplierID",left_index=True)

In [58]:
sup_prod.head()

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

In [59]:
products.set_index("SupplierID",inplace=True)

In [60]:
sup_prod = suppliers.merge(products,on="SupplierID",left_index=True,right_index=True)

In [61]:
sup_prod.head()

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,2,Chang
2,New Orleans Cajun Delights,New Orleans,3,Aniseed Syrup
3,Grandma Kelly's Homestead,Ann Arbor,4,Chef Anton's Cajun Seasoning
4,Tokyo Traders,Tokyo,5,Chef Anton's Gumbo Mix
5,Cooperativa de Quesos 'Las Cabras',Oviedo,6,Grandma's Boysenberry Spread

In [73]:
suppliers.reset_index(inplace=True)
products.reset_index(inplace=True)

In [74]:
products.rename({"SupplierID" : "supplier_id"},inplace=True,axis='columns')

In [75]:
products.head()

   index  supplier_id  ProductID                   ProductName
0      0            1          1                          Chai
1      1            1          2                         Chang
2      2            1          3                 Aniseed Syrup
3      3            2          4  Chef Anton's Cajun Seasoning
4      4            2          5        Chef Anton's Gumbo Mix

In [80]:
suppliers.merge(products,right_on="supplier_id",left_on="SupplierID").head()

,level_0,index_x,SupplierID,CompanyName,City,index_y,supplier_id,ProductID,ProductName
0,0,0,1,Exotic Liquids,London,0,1,1,Chai
1,0,0,1,Exotic Liquids,London,1,1,2,Chang
2,0,0,1,Exotic Liquids,London,2,1,3,Aniseed Syrup
3,1,1,2,New Orleans Cajun Delights,New Orleans,3,2,4,Chef Anton's Cajun Seasoning
4,1,1,2,New Orleans Cajun Delights,New Orleans,4,2,5,Chef Anton's Gumbo Mix